<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Login</h1>

    <%= bootstrap_form_for :user do |f| %>
      <%= f.text_field :email, placeholder: "Enter your email", icon: "user" %>
      <%= f.password_field :password, placeholder: "Enter your password", icon: "lock" %>
      <%= f.submit "Login", :class => "btn btn-primary" %>
    <% end %>

    <%= link_to "Forgot Password", new_password_path %>
  </div>
</div>