<h1>Register for an account</h1>

<%= bootstrap_form_for :user do |f| %>
<%= f.text_field :email, :placeholder => "Email" %>
<%= f.text_field :name, :placeholder => "First Name" %>
<%= f.password_field :password, :placeholder => "Password" %>
<%= f.primary %>
<% end %>