<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="link-title">UGen.news</h1>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Vote</th>
          <th>Rating</th>
          <th>Comments</th>
          <th>Title</th>
          <th>Member</th>
        </tr>
      </thead>
      <tbody>

        <% @post.each do |p| %>
        <tr>
          <td>
            <%= bootstrap_form_for [p,@vote] do |f| %>
            <%= f.hidden_field :value, value: "1" %>
            <%= f.button "", class: "btn btn-primary btn-xs glyphicon glyphicon-chevron-up" %>
            <% end %>
            <%= bootstrap_form_for [p,@vote] do |f| %>
            <%= f.hidden_field :value, value: "-1" %>
            <%= f.button "", class: "btn btn-danger btn-xs glyphicon glyphicon-chevron-down" %>
            <% end %>
          </td>
          <td>
            <div class="rating"><%= p.votes.reduce(0){|sum,v| sum.to_i+v.value.to_i} %></div>
          </td>
          <td>
            <%= p.comments.length %>
          </td>
          <td>
            <%= link_to p.title, p %>
          </td>
          <td>
            <%= p.user.email %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>