<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1><%= link_to @post.title, @post.link %></h1>
   <div class="comment-table">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Vote</th>
          <th>User</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
      <% @post.comments.each do |c| %>
        <tr>
          <td class="text-center">
            <%= bootstrap_form_for [@post, c, @vote] do |f| %>
            <%= f.hidden_field :value, value: "1" %>
            <%= f.button "", class: "btn btn-info btn-xs glyphicon glyphicon-thumbs-up" %>
            <% end %>
            <div class="rating"><%= c.votes.reduce(0){|sum,v| sum.to_i+v.value.to_i} %></div>
            <%= bootstrap_form_for [@post, c, @vote] do |f| %>
            <%= f.hidden_field :value, value: "-1" %>
            <%= f.button "", class: "btn btn-danger btn-xs glyphicon glyphicon-thumbs-down" %>
            <% end %>
          </td>
          <td><%= c.user.email %></td>
          <td><%= c.body %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
   </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%= bootstrap_form_for [@post,@comment] do |f| %>
        <%= f.text_area :body, :placeholder => "Leave a comment..." %>
        <%= f.submit "Add Comment", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

  </div>
</div>
